/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF0070;
  --button-hover-outline: rgba(255, 0, 112, 0.4);
  --header-color: rgba(219, 0, 255, 1);
  --shadow-color: #FF0070;
  --title-decor-bg-color: rgba(255, 0, 112, 1);
  --title-decor-text-color: rgba(0, 0, 40, 1);
  --bg-image: url("../images/cover-image-dark.png");
  --not-accent-color: rgba(241, 178, 206, 1);
  --link-shadow-color: #ff0070;
  --bg-color: #000028;
  --visible: visible;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --accent-color: #FF0070;
  --button-hover-outline: rgba(255, 0, 112, 0.4);
  --header-color: rgba(219, 0, 255, 1);
  --shadow-color: #FF0070;
  --title-decor-bg-color: rgba(255, 0, 112, 1);
  --title-decor-text-color: rgba(0, 0, 40, 1);
  --bg-image: url("../images/cover-image-dark.png");
  --not-accent-color: rgba(241, 178, 206, 1);
  --link-shadow-color: #ff0070;
  --bg-color: #000028;
  --visible: visible;
}
