.page {
  background-color: var(--bg-color);
  font-family: var(--main-font);
  font-size: var(--font-size);
  color: var(--not-accent-color);
  line-height: var(--line-height);
  background-attachment: fixed;
}

.header {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: 1fr min-content 1fr auto;
  align-items: center;
  justify-items: end;
  padding: var(--padding);
}

.header__rec {
  position: absolute;
  text-transform: uppercase;
  color: var(--accent-color);
  inset-block-start: var(--padding);
  inset-inline-end: calc(var(--padding) + 3px + 25px);
  visibility: var(--visible);
}

.header__rec::after {
  content: "";
  position: absolute;
  block-size: 5px;
  inline-size: 5px;
  border-radius: 50%;
  color: var(--accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 4px var(--accent-color);
  inset-inline-end: -18px;
  inset-block-start: 9px;
  visibility: var(--visible);
}

.decorated-zone {
  height: 100vh;
  min-height: 668px;
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-inline-start: var(--padding);
  inset-block-end: var(--padding);
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inset-inline-end: var(--padding);
  inset-block-start: var(--padding);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  border: none;
  background-color: transparent;
  cursor:pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-outline);
}

.header__theme-menu-button:focus {
  outline: none;
} 

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  color: var(--header-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: var(--header-weight);
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__description {
  width: 100%;
  justify-self: end;
  align-self: center;
}

.title-decor {
  background-color: var(--title-decor-bg-color);
  color: var(--title-decor-text-color);
}

.content {
  display: grid;
  gap: var(--sections-gap);
  padding: var(--vertical-padding) var(--padding);
}

.section {
  display: grid;
  grid-auto-flow: row;
  gap: var(--articles-gap);
}

.section__title {
  color: var(--accent-color);
  font-size: var(--font-size);
  font-weight: var(--header-weight);
  line-height: var(--line-height);
}

.theme__text {
  color: var(--not-accent-color);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--text-weight);
}

.section__themes {
  display: grid;
  gap: var(--articles-gap);
}

.theme {
  display: grid;
  gap: 10px;
  grid-template-rows: min-content auto;
}

.header__description,
.section__themes > .section__title,
.theme__title {
  font-size: var(--font-size);
  font-weight: var(--header-weight);
  line-height: var(--line-height);
}

.third .theme .theme__title {
  font-weight: var(--text-weight);
}

.theme__text .research-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--link-shadow-color);
}

.theme__text .research-link:hover {
  outline: none;
  border-bottom: 1px solid var(--not-accent-color);
}

.theme__text .research-link:focus {
  outline: none;
}

.theme__text .research-link:focus-visible {
  outline: 1px solid var(--not-accent-color);
}

.article__images {
  display: grid;
  gap: var(--padding);
}

.article__images-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--shadow-color);
  color: var(--header-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: var(--header-weight);
}

@media (width >= 768px) {
  :root {
    --padding: 20px;
    --vertical-padding: 60px;
    --sections-gap: 80px;
  }

  .first,
  .third {
    grid-template-columns: 1fr 2fr;
  }

  .article__images-image:nth-child(1) {
    grid-column: 1 /3;
    grid-row: 1;
  }

  .article__images-image:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 3;
  }

  .article__images-image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .article__images-image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .article__images-image:nth-child(5) {
    grid-column: 2/ 4;
    grid-row: 3;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: left;
  }

  .header__description {
    width: 50%;
  }

  .second .section__title {
    width: calc(100% / 3 - var(--articles-gap));
  }

  .article__images {
    gap: 20px;
  }
}

@media (width >= 1024px) {
  .second .section__themes {
    grid-template-columns: repeat(3, 1fr);
  }

  .first,
  .third {
    grid-template-columns: calc((100% - 2 * var(--articles-gap)) / 3) 1fr;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 36px;
  }
}